<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	 <bean name="empService" class="com.seed.service.EmployeeServiceImpl">
	 	<property name="empDao" ref="empDao"></property>
	 </bean>
	 
	 <bean name="empDao" class="com.seed.dao.EmployeeDaoImplUsingJdbc">
	 	<property name="dataSource" ref="dataSource"/>
	 </bean>
	 
	 <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	 	<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
	 	<property name="url" value="jdbc:oracle:thin:@localhost:1521/ORCLPDB" />
	 	<property name="username" value="hr" />
	 	<property name="password" value="hr" />
	 </bean>
	 
	 
</beans>